{% assign author_key = include.author %}
{% assign author = site.data.authors[author_key] %}
{% if author %}
<div class="author-card">
  <div class="author-card-info">
    <a href="{{ '/authors/' | append: author_key | relative_url }}" class="author-card-name">{{ author.name }}</a>
    <p class="author-card-bio">{{ author.bio }}{% if author.website %} <a href="{{ author.website }}" target="_blank" rel="noopener">{{ author.website | remove: "https://" }}</a>{% endif %}</p>
  </div>
</div>
{% endif %}
