<nav class="site-nav">
  <ul>
    {% for item in site.data.navigation %}
      {% if item.visible == true %}
      <li>
        <a href="{{ item.link | relative_url }}"
           {% if item.link == '/' %}
             {% if page.url == '/' or page.url == '/index.html' %}class="active"{% endif %}
           {% else %}
             {% if page.url contains item.link %}class="active"{% endif %}
           {% endif %}>
          {{ item.name }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
